#banner
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 120px;
	font-weight: bold;	
}

#logo
{
	position: absolute;
	top: 0px;
	right: 0px;
}

#menubar
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 23px;
	background: #c22525;
	padding: 0.5rem;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	font-weight: bold;
}

#header1
{
	position: absolute;
	font-size: 60px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

#header2
{
	position: absolute;
	font-size: 50px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

#description
{
	position: absolute;
	font-size: 18px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#pic
{
	position: absolute;
	left: 100px;
}

#link
{
	position: absolute;
	left: 600px;
}

