#banner
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 120px;
	font-weight: bold;	
}

#logo
{
	position: absolute;
	top: 0px;
	right: 0px;
}

#menubar
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 23px;
	background: #c22525;
	padding: 0.5rem;
}



.dropdownbutton
{
	background: #c22525;
	font-size: 23px;
	border: none;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdowncontent
{
	display: none;
	position: absolute;
	background-color: #c22525;
	min-width: 200px;
	z-index: 1;
}

.dropdowncontent a
{
	text-decoration: none;
	color: black;
	padding: 14px 16px;
	display: block
}

.dropdowncontent a:hover
{
	background-color: #8a1513;
}

.dropdown:hover .dropdowncontent
{
	display: block;
}



a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
}

#header1
{
	position: absolute;
	font-size: 60px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

#header2
{
	position: absolute;
	font-size: 50px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

#description
{
	position: absolute;
	font-size: 18px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#pic
{
	position: absolute;
	left: 100px;
}

#link
{
	position: absolute;
	left: 600px;
}

#gallery
{
	position: absolute;
}

.footer
{
    position: absolute;
	width: 100%;
    background-color: #c22525;
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 23px;
}
